In [2]:
import numpy as np
import pandas as pd

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [25]:
from sklearn.metrics.pairwise import linear_kernel

In [3]:
df = pd.read_csv('cleaned_metadata.csv')

In [4]:
df

,title,genres,runtime,vote_average,vote_count,year
0,Toy Story,"['Animation', 'Comedy', 'Family']",81.0,7.7,5415.0,1995
1,Jumanji,"['Adventure', 'Fantasy', 'Family']",104.0,6.9,2413.0,1995
2,Grumpier Old Men,"['Romance', 'Comedy']",101.0,6.5,92.0,1995
3,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']",127.0,6.1,34.0,1995
4,Father of the Bride Part II,['Comedy'],106.0,5.7,173.0,1995
...,...,...,...,...,...,...
45461,Subdue,"['Drama', 'Family']",90.0,4.0,1.0,0
45462,Century of Birthing,['Drama'],360.0,9.0,3.0,2011
45463,Betrayal,"['Action', 'Drama', 'Thriller']",90.0,3.8,6.0,2003
45464,Satan Triumphant,[],87.0,0.0,0.0,1917
45465,Queerama,[],75.0,0.0,0.0,2017

In [5]:
df.dtypes

title            object
genres           object
runtime         float64
vote_average    float64
vote_count      float64
year              int64
dtype: object

In [6]:
data = pd.read_csv("\computer vision\datasets\IMDB_series_data.csv.xls")

In [7]:
data

,Poster_Link,Series_Title,Runtime_of_Series,Certificate,Runtime_of_Episodes,Genre,IMDB_Rating,Overview,Star1,Star2,Star3,Star4,No_of_Votes
0,https://m.media-amazon.com/images/M/MV5BYTRiND...,Game of Thrones,(2011–2019),A,57 min,"Action, Adventure, Drama",9.3,Nine noble families fight for control over the...,Emilia Clarke,Peter Dinklage,Kit Harington,Lena Headey,1773458
1,https://m.media-amazon.com/images/M/MV5BMjhiMz...,Breaking Bad,(2008–2013),18,49 min,"Crime, Drama, Thriller",9.5,A high school chemistry teacher diagnosed with...,Bryan Cranston,Aaron Paul,Anna Gunn,Betsy Brandt,1468887
2,https://m.media-amazon.com/images/M/MV5BMTc5Zm...,The Walking Dead,(2010– ),18+,44 min,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,Andrew Lincoln,Norman Reedus,Melissa McBride,Danai Gurira,854698
3,https://m.media-amazon.com/images/M/MV5BNDVkYj...,Friends,(1994–2004),13+,22 min,"Comedy, Romance",8.9,Follows the personal and professional lives of...,Jennifer Aniston,Courteney Cox,Lisa Kudrow,Matt LeBlanc,829816
4,https://m.media-amazon.com/images/M/MV5BMjEzMD...,Stranger Things,(2016– ),15,51 min,"Drama, Fantasy, Horror",8.7,"When a young boy disappears, his mother, a pol...",Millie Bobby Brown,Finn Wolfhard,Winona Ryder,David Harbour,824966
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,https://m.media-amazon.com/images/M/MV5BYTk4OG...,Shaman Kingu,(2001–2005),NaN,23 min,"Animation, Action, Adventure",8.1,SHAMAN KING follows the adventures of a 13-yea...,Oliver Wyman,Andrew Rannells,Michael Sinterniklaas,Megumi Hayashibara,5131
1996,https://m.media-amazon.com/images/M/MV5BMTUyND...,"Eerie, Indiana",(1991–1992),NaN,30 min,"Adventure, Comedy, Drama",8.2,Teenage weirdness investigator Marshall Teller...,Omri Katz,Justin Shenkarow,Mary-Margaret Humes,Francis Guinan,5128
1997,https://m.media-amazon.com/images/M/MV5BMTcxMD...,Gunsmoke,(1955–1975),NaN,60 min,Western,7.9,Marshal Matt Dillon keeps the peace in rough a...,James Arness,Milburn Stone,Amanda Blake,Ken Curtis,5115
1998,https://m.media-amazon.com/images/M/MV5BYWQwNm...,The Cheat,(2017– ),NaN,20 min,"Action, Drama, Sci-Fi",8.8,Felix is a software developer who works for th...,Taha Ulukaya,Taner Sahin,Andac Ulukaya,Neslihan Ulusoy,5111
1999,https://m.media-amazon.com/images/M/MV5BMjQ5Mj...,Comic Book Men,(2012–2018),NaN,22 min,"Comedy, Reality-TV",7.7,An unscripted series set in Smith's iconic com...,Kevin Smith,Walter Flanagan,Mike Zapcic,Bryan Johnson,5109

In [8]:
descp = ' '.join(str(data['Overview'].values).split())

In [9]:
descp

'[\'Nine noble families fight for control over the lands of Westeros, while an ancient enemy returns after being dormant for millennia.\' "A high school chemistry teacher diagnosed with inoperable lung cancer turns to manufacturing and selling methamphetamine in order to secure his family\'s future." \'Sheriff Deputy Rick Grimes wakes up from a coma to learn the world is in ruins and must lead a group of survivors to stay alive.\' ... \'Marshal Matt Dillon keeps the peace in rough and tumble Dodge City.\' \'Felix is a software developer who works for the department of software at an important anti-virus company. Beside that he is completing the missing parts of software on the games which are ... See full summary\\xa0»\' "An unscripted series set in Smith\'s iconic comic shop Jay and Silent Bob\'s Secret Stash and captures the world of the neighborhood comic book store and fanboy culture."]'

In [10]:
data

,Poster_Link,Series_Title,Runtime_of_Series,Certificate,Runtime_of_Episodes,Genre,IMDB_Rating,Overview,Star1,Star2,Star3,Star4,No_of_Votes
0,https://m.media-amazon.com/images/M/MV5BYTRiND...,Game of Thrones,(2011–2019),A,57 min,"Action, Adventure, Drama",9.3,Nine noble families fight for control over the...,Emilia Clarke,Peter Dinklage,Kit Harington,Lena Headey,1773458
1,https://m.media-amazon.com/images/M/MV5BMjhiMz...,Breaking Bad,(2008–2013),18,49 min,"Crime, Drama, Thriller",9.5,A high school chemistry teacher diagnosed with...,Bryan Cranston,Aaron Paul,Anna Gunn,Betsy Brandt,1468887
2,https://m.media-amazon.com/images/M/MV5BMTc5Zm...,The Walking Dead,(2010– ),18+,44 min,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,Andrew Lincoln,Norman Reedus,Melissa McBride,Danai Gurira,854698
3,https://m.media-amazon.com/images/M/MV5BNDVkYj...,Friends,(1994–2004),13+,22 min,"Comedy, Romance",8.9,Follows the personal and professional lives of...,Jennifer Aniston,Courteney Cox,Lisa Kudrow,Matt LeBlanc,829816
4,https://m.media-amazon.com/images/M/MV5BMjEzMD...,Stranger Things,(2016– ),15,51 min,"Drama, Fantasy, Horror",8.7,"When a young boy disappears, his mother, a pol...",Millie Bobby Brown,Finn Wolfhard,Winona Ryder,David Harbour,824966
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,https://m.media-amazon.com/images/M/MV5BYTk4OG...,Shaman Kingu,(2001–2005),NaN,23 min,"Animation, Action, Adventure",8.1,SHAMAN KING follows the adventures of a 13-yea...,Oliver Wyman,Andrew Rannells,Michael Sinterniklaas,Megumi Hayashibara,5131
1996,https://m.media-amazon.com/images/M/MV5BMTUyND...,"Eerie, Indiana",(1991–1992),NaN,30 min,"Adventure, Comedy, Drama",8.2,Teenage weirdness investigator Marshall Teller...,Omri Katz,Justin Shenkarow,Mary-Margaret Humes,Francis Guinan,5128
1997,https://m.media-amazon.com/images/M/MV5BMTcxMD...,Gunsmoke,(1955–1975),NaN,60 min,Western,7.9,Marshal Matt Dillon keeps the peace in rough a...,James Arness,Milburn Stone,Amanda Blake,Ken Curtis,5115
1998,https://m.media-amazon.com/images/M/MV5BYWQwNm...,The Cheat,(2017– ),NaN,20 min,"Action, Drama, Sci-Fi",8.8,Felix is a software developer who works for th...,Taha Ulukaya,Taner Sahin,Andac Ulukaya,Neslihan Ulusoy,5111
1999,https://m.media-amazon.com/images/M/MV5BMjQ5Mj...,Comic Book Men,(2012–2018),NaN,22 min,"Comedy, Reality-TV",7.7,An unscripted series set in Smith's iconic com...,Kevin Smith,Walter Flanagan,Mike Zapcic,Bryan Johnson,5109

In [11]:
data.columns

Index(['Poster_Link', 'Series_Title', 'Runtime_of_Series', 'Certificate',
       'Runtime_of_Episodes', 'Genre', 'IMDB_Rating', 'Overview', 'Star1',
       'Star2', 'Star3', 'Star4', 'No_of_Votes'],
      dtype='object')

In [12]:
data.isnull().sum()

Poster_Link               0
Series_Title              0
Runtime_of_Series         0
Certificate            1297
Runtime_of_Episodes      43
Genre                     0
IMDB_Rating               0
Overview                  0
Star1                     0
Star2                     0
Star3                     1
Star4                     5
No_of_Votes               0
dtype: int64

In [13]:
data['Overview'].loc[0]

'Nine noble families fight for control over the lands of Westeros, while an ancient enemy returns after being dormant for millennia.'

In [18]:
df['Overview'] = data['Overview']

In [19]:
df

,title,genres,runtime,vote_average,vote_count,year,Overview
0,Toy Story,"['Animation', 'Comedy', 'Family']",81.0,7.7,5415.0,1995,Nine noble families fight for control over the...
1,Jumanji,"['Adventure', 'Fantasy', 'Family']",104.0,6.9,2413.0,1995,A high school chemistry teacher diagnosed with...
2,Grumpier Old Men,"['Romance', 'Comedy']",101.0,6.5,92.0,1995,Sheriff Deputy Rick Grimes wakes up from a com...
3,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']",127.0,6.1,34.0,1995,Follows the personal and professional lives of...
4,Father of the Bride Part II,['Comedy'],106.0,5.7,173.0,1995,"When a young boy disappears, his mother, a pol..."
...,...,...,...,...,...,...,...
45461,Subdue,"['Drama', 'Family']",90.0,4.0,1.0,0,NaN
45462,Century of Birthing,['Drama'],360.0,9.0,3.0,2011,NaN
45463,Betrayal,"['Action', 'Drama', 'Thriller']",90.0,3.8,6.0,2003,NaN
45464,Satan Triumphant,[],87.0,0.0,0.0,1917,NaN
45465,Queerama,[],75.0,0.0,0.0,2017,NaN

In [20]:
df.shape

(45466, 7)

In [21]:
df.head()

,title,genres,runtime,vote_average,vote_count,year,Overview
0,Toy Story,"['Animation', 'Comedy', 'Family']",81.0,7.7,5415.0,1995,Nine noble families fight for control over the...
1,Jumanji,"['Adventure', 'Fantasy', 'Family']",104.0,6.9,2413.0,1995,A high school chemistry teacher diagnosed with...
2,Grumpier Old Men,"['Romance', 'Comedy']",101.0,6.5,92.0,1995,Sheriff Deputy Rick Grimes wakes up from a com...
3,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']",127.0,6.1,34.0,1995,Follows the personal and professional lives of...
4,Father of the Bride Part II,['Comedy'],106.0,5.7,173.0,1995,"When a young boy disappears, his mother, a pol..."

In [22]:
df_new = df.loc[:20000]

In [23]:
df_new

,title,genres,runtime,vote_average,vote_count,year,Overview
0,Toy Story,"['Animation', 'Comedy', 'Family']",81.0,7.7,5415.0,1995,Nine noble families fight for control over the...
1,Jumanji,"['Adventure', 'Fantasy', 'Family']",104.0,6.9,2413.0,1995,A high school chemistry teacher diagnosed with...
2,Grumpier Old Men,"['Romance', 'Comedy']",101.0,6.5,92.0,1995,Sheriff Deputy Rick Grimes wakes up from a com...
3,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']",127.0,6.1,34.0,1995,Follows the personal and professional lives of...
4,Father of the Bride Part II,['Comedy'],106.0,5.7,173.0,1995,"When a young boy disappears, his mother, a pol..."
...,...,...,...,...,...,...,...
19996,Versailles,['Drama'],113.0,6.0,4.0,2008,NaN
19997,Two in the Wave,"['Documentary', 'Foreign']",91.0,5.5,5.0,2010,NaN
19998,Lotte Reiniger: Homage to the Inventor of the ...,[],0.0,0.0,0.0,2001,NaN
19999,"RKO Production 601: The Making of 'Kong, the E...",[],0.0,8.0,1.0,2005,NaN
20000,Yossi,"['Drama', 'Romance']",84.0,6.8,22.0,2012,NaN

In [26]:
tfidf = TfidfVectorizer(stop_words='english')

In [27]:
df_new['Overview'] = df_new['Overview'].fillna('')

C:\Users\mchan\AppData\Local\Temp\ipykernel_22228\89590341.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Overview'] = df_new['Overview'].fillna('')

In [28]:
df_new.isnull().sum()

title            2
genres           0
runtime         29
vote_average     2
vote_count       2
year             0
Overview         0
dtype: int64

In [30]:
tfidf_matrix =tfidf.fit_transform(df_new['Overview'])

In [31]:
tfidf_matrix

<20001x8089 sparse matrix of type '<class 'numpy.float64'>'
	with 26745 stored elements in Compressed Sparse Row format>

In [32]:
tfidf_matrix.shape

(20001, 8089)

In [34]:
df_new.shape

(20001, 7)

In [35]:
cosine_sim = linear_kernel(tfidf_matrix,tfidf_matrix)

In [36]:
cosine_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [37]:
indices = pd.Series(df_new.index,index=df_new['title']).drop_duplicates()
indices

title
Toy Story                                                                       0
Jumanji                                                                         1
Grumpier Old Men                                                                2
Waiting to Exhale                                                               3
Father of the Bride Part II                                                     4
                                                                            ...
Versailles                                                                  19996
Two in the Wave                                                             19997
Lotte Reiniger: Homage to the Inventor of the Silhouette Film               19998
RKO Production 601: The Making of 'Kong, the Eighth Wonder of the World'    19999
Yossi                                                                       20000
Length: 20001, dtype: int64

In [38]:
def content_recommender(title,cosine_sim=cosine_sim,df=df_new,indices=indices):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores  = sorted(sim_scores,key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return df['title'].iloc[movie_indices]

In [40]:
df_new[df_new['title']=='Waiting to Exhale']

,title,genres,runtime,vote_average,vote_count,year,Overview
3,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']",127.0,6.1,34.0,1995,Follows the personal and professional lives of...

In [42]:
content_recommender('Waiting to Exhale')

510            The Remains of the Day
244                        Houseguest
688                             Faces
1989                   Son of Flubber
859                       Bulletproof
47                         Pocahontas
1973                 The Mighty Ducks
1803                     Out of Sight
406     Martin Lawrence: You So Crazy
359                     The Lion King
Name: title, dtype: object

In [43]:
content_recommender('The Lion King')

86                          Dunston Checks In
1973                         The Mighty Ducks
244                                Houseguest
389                               Coldblooded
1589                                 Mad City
3                           Waiting to Exhale
772     My Life and Times With Antonin Artaud
859                               Bulletproof
47                                 Pocahontas
510                    The Remains of the Day
Name: title, dtype: object

In [41]:
df_new

,title,genres,runtime,vote_average,vote_count,year,Overview
0,Toy Story,"['Animation', 'Comedy', 'Family']",81.0,7.7,5415.0,1995,Nine noble families fight for control over the...
1,Jumanji,"['Adventure', 'Fantasy', 'Family']",104.0,6.9,2413.0,1995,A high school chemistry teacher diagnosed with...
2,Grumpier Old Men,"['Romance', 'Comedy']",101.0,6.5,92.0,1995,Sheriff Deputy Rick Grimes wakes up from a com...
3,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']",127.0,6.1,34.0,1995,Follows the personal and professional lives of...
4,Father of the Bride Part II,['Comedy'],106.0,5.7,173.0,1995,"When a young boy disappears, his mother, a pol..."
...,...,...,...,...,...,...,...
19996,Versailles,['Drama'],113.0,6.0,4.0,2008,
19997,Two in the Wave,"['Documentary', 'Foreign']",91.0,5.5,5.0,2010,
19998,Lotte Reiniger: Homage to the Inventor of the ...,[],0.0,0.0,0.0,2001,
19999,"RKO Production 601: The Making of 'Kong, the E...",[],0.0,8.0,1.0,2005,
20000,Yossi,"['Drama', 'Romance']",84.0,6.8,22.0,2012,