In [31]:
import pandas as pd
import numpy as np

The Simple Recommender

In [32]:
df = pd.read_csv('\computer vision\datasets\movies_metadata.csv.xls')

C:\Users\mchan\AppData\Local\Temp\ipykernel_1840\3467934803.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('\computer vision\datasets\movies_metadata.csv.xls')

In [33]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [34]:
df.shape

(45466, 24)

In [35]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

we want to consider
   -choosing a metric
   - decide on the prerequisites for the movie to be the featured on the chart
   - calculate the sore for every movie that satisfies the conditions
-  - output the list of the movies in decreasing order of their scores

The Metric

- the metric is the numeric quantity on which we rank the movies

rating : lets say a movie with 8/10 with viewers 10000 and a movie with 9.5/10 with viewers 100 cannot be taken into considerations just by rating

we need a metric which can, to an extend take into account both the movie rating and the no of votes(popularity)

-this would give a greater preference to a blockbuster movie rated 8 by 10000 user over an art movie rated 9 by 100 users.

-movie with few ratings are not much reliable
eg - A movie rated 10/10 by 5 users does not necessarily means that it is agood movie.

-here we are using imdb's weighted rating formula

THE PREREQUISITES

-There is no fixed value for m(it is an arbitrary value)
-For our purpose we are using 80th precentile movie as our value for m.
-For a movie to be considered in the rankings it must have garnered more votes than atleast 80% of the movies present in our dataset

In [36]:
ta_movie = df[df['original_language'] == 'ta']

In [37]:
df[df['original_language'] == 'ta']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
13867,False,NaN,500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,69426,tt0242572,ta,Kandukondain Kandukondain,Two young women with differing views on love f...,...,2000-05-05,500000.0,157.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kandukondain Kandukondain,False,6.4,7.0
15232,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,40998,tt0312859,ta,கன்னத்தில் முத்தமிட்டாள்,A little girl is told by her parents that she ...,...,2002-02-14,0.0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kannathil Muthamittal,False,7.4,8.0
17878,False,NaN,26400000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,148284,tt1305797,ta,எந்திரன்,"Dr. Vasi invents a super-powered robot, Chitti...",...,2010-10-01,62000000.0,155.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Enthiran,False,6.5,46.0
18983,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",http://www.unnaipoloruvan.com,25121,tt1417299,ta,உன்னைப்போல் ஒருவன்,A common man tries to fight terrorism by makin...,...,2009-09-18,0.0,120.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,Someone Like You,Unnaipol Oruvan,False,6.9,10.0
20412,False,NaN,7500000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,147815,tt2344672,ta,கடல்,A wrongdoer is caught red-handed and he is not...,...,2013-02-01,0.0,164.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,Kadal,False,5.9,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44917,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,449742,tt6712026,ta,கவண்,"A budding journalist passionate about ethical,...",...,2017-03-31,0.0,160.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Kavan,False,7.3,7.0
45247,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,66247,tt0140399,ta,Muthu,Muthu starring by rajinikanth and meena. A lav...,...,1995-05-05,0.0,180.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,NaN,Muthu,False,6.3,10.0
45248,False,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,49074,tt0139876,ta,Baasha,Auto rickshaw driver Manickam avoids violence ...,...,1995-01-15,15000000.0,145.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Baasha,False,7.8,14.0
45249,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,47940,tt0213969,ta,படையப்பா,Padayappa is a 1999 Tamil film written and dir...,...,1999-04-01,0.0,172.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Padayappa,False,7.3,13.0
45250,False,NaN,12000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,24049,tt0479751,ta,சிவாஜி,Corrupt police and politicians target a comput...,...,2007-06-14,19000000.0,185.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,Sivaji: The Boss,False,6.9,25.0

In [38]:
#calculate the no of votes garnered by the 80th percentile movie
m = ta_movie['vote_count'].quantile()
m

10.0

-Consider movie only more than 45 minutes and less than 300 minutes

In [39]:
#movies >45 and <300
q_movies = ta_movie[(ta_movie['runtime'] >= 45) & (ta_movie['runtime'] < 300)]
q_movies = q_movies[q_movies['vote_count'] >= m]

In [40]:
ta_movie.shape

(78, 24)

In [41]:
q_movies.shape

(40, 24)

CACULATE THE SCORE

In [42]:
c = ta_movie['vote_average'].mean()

In [43]:
c

6.6923076923076925

In [44]:
#function to calculate the imdb weighted rating for each movie
def weighted_rating(x,m=m,c=c):
    v = x['vote_count']
    R = x['vote_average']
    #compute the weighted rating
    return (v/(v+m)*R) + (m/(m+v) * c)

In [45]:
q_movies['score'] = q_movies.apply(weighted_rating,axis=1)

In [46]:
q_movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,score
17878,False,NaN,26400000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,148284,tt1305797,ta,எந்திரன்,"Dr. Vasi invents a super-powered robot, Chitti...",...,62000000.0,155.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Enthiran,False,6.5,46.0,6.534341
18983,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",http://www.unnaipoloruvan.com,25121,tt1417299,ta,உன்னைப்போல் ஒருவன்,A common man tries to fight terrorism by makin...,...,0.0,120.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,Someone Like You,Unnaipol Oruvan,False,6.9,10.0,6.796154
20695,False,NaN,3900000,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,60579,tt0222012,ta,Hey Ram,Saketh Ram's wife is raped and killed during d...,...,4900000.0,199.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,An Experiment With Truth.,Hey Ram,False,6.7,10.0,6.696154
30522,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,264038,tt3973410,ta,Kaaka Muttai,Two slum kids yearn to taste a pizza after bei...,...,0.0,109.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Kaaka Muttai,False,8.2,12.0,7.514685
30565,False,NaN,240000,"[{'id': 53, 'name': 'Thriller'}, {'id': 35, 'n...",NaN,139357,tt2585562,ta,Pizza,The story is about how around a pizza delivery...,...,2800000.0,127.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,Pizza,False,5.5,11.0,6.067766
30643,False,NaN,17000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,117319,tt2199711,ta,விஸ்வரூபம்,"Vishwanathan, a Kathak dance teacher in New Yo...",...,51000000.0,147.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,NaN,Vishwaroopam,False,5.5,25.0,5.840659
31790,False,NaN,310000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,189227,tt2877108,ta,Soodhu Kavvum,Dass specialises in small time kidnapping and ...,...,12000000.0,138.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,Evil Engulfs,Soodhu Kavvum,False,7.0,11.0,6.853480
31800,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,329134,tt4328798,ta,மாஸ் என்கிற மாசிலாமணி,A conman gains the power to see and communicat...,...,0.0,151.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Massu Engira Maasilamani,False,4.9,12.0,5.714685
31801,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,55951,tt1483820,ta,Aadhavan,Aadhavan (Tamil: ஆதவன்) is a 2009 Tamil action...,...,0.0,135.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,ஆதவன்,Aadhavan,False,4.4,10.0,5.546154
32707,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,330421,tt4429128,ta,Papanasam,A cinephile tries to protect his family by hid...,...,14000000.0,181.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Papanasam,False,7.4,13.0,7.092308
33173,False,NaN,3000000,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,38637,tt1180583,ta,Vaaranam Aayiram,"Surya is away at war as his father, Krisnan di...",...,14000000.0,169.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,NaN,Vaaranam Aayiram,False,7.5,13.0,7.148829
33864,False,NaN,16000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,263471,tt2302966,ta,ஐ,A bodybuilder ends up falling madly in love wi...,...,0.0,170.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,NaN,I,False,6.8,27.0,6.770894
34537,False,NaN,1600000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,270766,tt3569782,ta,ஜிகர்தண்டா,When Karthik is given a task by his producer t...,...,0.0,170.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,Cold Heart,Jigarthanda,False,7.3,11.0,7.010623
35911,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 10751, '...",NaN,63654,tt1851988,ta,Ko,The movie opens with a scene of a bank robbery...,...,0.0,160.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Ko,False,6.7,11.0,6.696337
37509,False,NaN,3000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://vtvthefilm.com/,37941,tt1609168,ta,விண்ணைத்தாண்டி வருவாயா,"A young, aspiring filmmaker falls in love with...",...,12000000.0,157.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,NaN,Vinnaithaandi Varuvaayaa,False,7.7,19.0,7.352520
37512,False,NaN,3230939,"[{'id': 28, 'name': 'Action'}, {'id': 10749, '...",NaN,20049,tt1355546,ta,Ayan,Deva (Surya Sivakumar) arrives at the Chennai ...,...,18000000.0,162.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Ayan,False,6.7,19.0,6.697347
37708,False,NaN,300000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",https://www.facebook.com/Irudhi.Suttru/,357706,tt5819280,ta,இறுதிச்சுற்று,"A grumpy boxing coach takes on a young, rebell...",...,2100000.0,112.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,NaN,Irudhi Suttru,False,6.7,11.0,6.696337
38252,False,"{'id': 122489, 'name': 'Billa Collection', 'po...",0,"[{'id': 28, 'name': 'Action'}, {'id': 10749, '...",NaN,23767,tt0920457,ta,Billa,The intertwined stories of an international Do...,...,0.0,130.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Billa,False,6.5,16.0,6.573964
38254,False,NaN,7900000,"[{'id': 10749, 'name': 'Romance'}, {'id': 53, ...",NaN,300983,tt4258292,ta,என்னை அறிந்தால்,"Sathyadev, who is on a career break, is forced...",...,16000000.0,176.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,"Well, If You Know Me...",Yennai Arindhaal,False,6.6,14.0,6.638462
38255,False,NaN,6100000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,76788,tt1705772,ta,மங்காத்தா,Vinayak and his 4 team members rob a booty of ...,...,28000000.0,149.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,Strictly no rules,Mankatha,False,5.6,14.0,6.055128
38256,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 10751, '...",NaN,362150,tt5178278,ta,வேதாளம்,"Ganesh, a cab driver and a doting brother to h...",...,0.0,156.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Vedhalam,False,5.9,10.0,6.296154
38257,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 53, ...",NaN,280165,tt4987556,ta,தனி ஒருவன்,An idealistic cop and an ambitious scientist-b...,...,0.0,159.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Thani Oruvan,False,7.8,21.0,7.442680
38260,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,320910,tt5128328,ta,நானும் ரௌடிதான்,"Pandian, the son of a cop and a wannabe rowdy,...",...,0.0,140.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Naanum Rowdydhaan,False,6.5,11.0,6.591575
38263,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,363178,tt4937812,ta,தூங்கா வனம்,An undercover cop finds himself in a Catch-22 ...,...,0.0,127.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Thoonga Vanam,False,6.8,10.0,6.746154
38264,False,NaN,5900000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,247504,tt3320578,ta,வீரம்,"A straightforward man, who uses violence to se...",...,19000000.0,161.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Veeram,False,5.8,11.0,6.224908
38523,False,"{'id': 122489, 'name': 'Billa Collection', 'po...",0,"[{'id': 28, 'name': 'Action'}]",NaN,116185,tt1891755,ta,Billa II,David Billa a refugee comes to Rameswaram in T...,...,0.0,140.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,The Beginning,Billa II,False,6.0,10.0,6.346154
38524,False,NaN,3200000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,69636,tt0449951,ta,Ghajini,The film's story is around a rich business ent...,...,0.0,150.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,Ghajini,False,6.6,13.0,6.640134
38525,False,"{'id': 343944, 'name': 'Singam Collection', 'p...",2200000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,62756,tt1655607,ta,Singam,"The story, set in the backdrop of Nallore, a s...",...,9700000.0,154.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Singam,False,6.9,19.0,6.828382
38528,False,NaN,16000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,86718,tt1725795,ta,7Aum Arivu,A genetic engineering student tries to bring b...,...,98900000.0,168.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,7Aum Arivu,False,6.6,10.0,6.646154
38529,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 10749...",NaN,69635,tt0464071,ta,Sillunu Oru Kaadhal,"In recent times, it has become stereotypical t...",...,0.0,160.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,Sillunu Oru Kaadhal,False,6.3,10.0,6.496154
38530,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,19978,tt0376127,ta,அந்நியன்,"Ambi, a meek lawyer, ends up being a vigilante...",...,8500000.0,181.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Anniyan,False,6.9,15.0,6.816923
40055,False,NaN,18700000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,366080,tt5071886,ta,கபாலி,Kabali is a 2016 Indian Tamil-language gangste...,...,74000000.0,150.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,NaN,Kabali,False,5.9,21.0,6.155583
43094,False,NaN,940000,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,329135,tt4271820,ta,ஓ காதல் கண்மணி,Adhi and Tara are in a live-in relationship an...,...,5100000.0,138.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,O Kadhal Kanmani,False,5.8,12.0,6.205594
43095,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,29971,tt0093603,ta,Nayakan,"Sakthivelu Nayakar (Kamal Hassan), the protago...",...,0.0,145.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,Nayakan,False,7.5,15.0,7.176923
43199,False,NaN,10000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,368006,tt4981966,ta,24,A scientist invents a time machine but his evi...,...,15000000.0,164.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,Ready to GO Back,24,False,7.1,22.0,6.972596
44696,False,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,411717,tt6201292,ta,பைரவா,A loan recovery agent takes on a corrupt head ...,...,17000000.0,168.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Bairavaa,False,6.5,12.0,6.587413
45247,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,66247,tt0140399,ta,Muthu,Muthu starring by rajinikanth and meena. A lav...,...,0.0,180.0,"[{'iso_639_1': 'ml', 'name': ''}, {'iso_639_1'...",Released,NaN,Muthu,False,6.3,10.0,6.496154
45248,False,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,49074,tt0139876,ta,Baasha,Auto rickshaw driver Manickam avoids violence ...,...,15000000.0,145.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Baasha,False,7.8,14.0,7.338462
45249,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,47940,tt0213969,ta,படையப்பா,Padayappa is a 1999 Tamil film written and dir...,...,0.0,172.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}]",Released,NaN,Padayappa,False,7.3,13.0,7.035786
45250,False,NaN,12000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,24049,tt0479751,ta,சிவாஜி,Corrupt police and politicians target a comput...,...,19000000.0,185.0,"[{'iso_639_1': 'ta', 'name': 'தமிழ்'}, {'iso_6...",Released,NaN,Sivaji: The Boss,False,6.9,25.0,6.840659

SORTING AND OUTPUT

In [47]:
q_movies.sort_values(by='score',ascending=False,inplace = True)

In [48]:
q_movies[['title','vote_count','vote_average','score','runtime']]

                          title  vote_count  vote_average     score  runtime
30522              Kaaka Muttai        12.0           8.2  7.514685    109.0
38257              Thani Oruvan        21.0           7.8  7.442680    159.0
37509  Vinnaithaandi Varuvaayaa        19.0           7.7  7.352520    157.0
45248                    Baasha        14.0           7.8  7.338462    145.0
43095                   Nayakan        15.0           7.5  7.176923    145.0
33173          Vaaranam Aayiram        13.0           7.5  7.148829    169.0
32707                 Papanasam        13.0           7.4  7.092308    181.0
45249                 Padayappa        13.0           7.3  7.035786    172.0
34537               Jigarthanda        11.0           7.3  7.010623    170.0
43199                        24        22.0           7.1  6.972596    164.0
31790             Soodhu Kavvum        11.0           7.0  6.853480    138.0
45250          Sivaji: The Boss        25.0           6.9  6.840659    185.0
38525                    Singam        19.0           6.9  6.828382    154.0
38530                   Anniyan        15.0           6.9  6.816923    181.0
18983           Unnaipol Oruvan        10.0           6.9  6.796154    120.0
33864                         I        27.0           6.8  6.770894    170.0
38263             Thoonga Vanam        10.0           6.8  6.746154    127.0
37512                      Ayan        19.0           6.7  6.697347    162.0
35911                        Ko        11.0           6.7  6.696337    160.0
37708             Irudhi Suttru        11.0           6.7  6.696337    112.0
20695                   Hey Ram        10.0           6.7  6.696154    199.0
38528                7Aum Arivu        10.0           6.6  6.646154    168.0
38524                   Ghajini        13.0           6.6  6.640134    150.0
38254          Yennai Arindhaal        14.0           6.6  6.638462    176.0
38260         Naanum Rowdydhaan        11.0           6.5  6.591575    140.0
44696                  Bairavaa        12.0           6.5  6.587413    168.0
38252                     Billa        16.0           6.5  6.573964    130.0
17878                  Enthiran        46.0           6.5  6.534341    155.0
38529       Sillunu Oru Kaadhal        10.0           6.3  6.496154    160.0
45247                     Muthu        10.0           6.3  6.496154    180.0
38523                  Billa II        10.0           6.0  6.346154    140.0
38256                  Vedhalam        10.0           5.9  6.296154    156.0
38264                    Veeram        11.0           5.8  6.224908    161.0
43094          O Kadhal Kanmani        12.0           5.8  6.205594    138.0
40055                    Kabali        21.0           5.9  6.155583    150.0
30565                     Pizza        11.0           5.5  6.067766    127.0
38255                  Mankatha        14.0           5.6  6.055128    149.0
30643              Vishwaroopam        25.0           5.5  5.840659    147.0
31800  Massu Engira Maasilamani        12.0           4.9  5.714685    151.0
31801                  Aadhavan        10.0           4.4  5.546154    135.0

Tamil top movie recommendation